@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #EDA415;
  --secondary: #003F62;
}

.banner {
  background-image: url("../public/banner.png");
  color: white;
  background-size: cover;
}

.newsletter {
  background-color: var(--primary);
  color: white;

}

.newsletter ::placeholder {
  color: white;
  font-family: serif;
}

nav {
  position: sticky !important;
  top: 0;
  left: 0;
}